body {
    background-color: #000000;
    color: #d0d0d0;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #80808000;
    width: min(calc(min(100vh, 100vw) * 0.9), 1000px);
    height: min(calc(min(100vh, 100vw) * 0.9), 1000px);
}

#performanceDisplay {
    position: absolute;
    width: max-content;
    left: 100%;
    top: 0;
    transform: translate(-100%, 0);
}

#performanceDisplay>p {
    margin: 0;
    color: #808080;
    font-family: monospace;
    font-size: 10.5px;
    text-align: right;
}

#performanceDisplay>p>a {
    color: #a0a0a0;
}

#parameter {
    display: none;
}

#parameter>input,
select {
    margin-bottom: 10px;
}

#parameter>button {
    font-size: 16px;
    background: #ffffffa0;
    color: #202020;
}

button {
    background: #ffffff20;
    color: #b0b0b0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

h1,
h2 {
    margin: 4px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
